
<div class="top-title">
    <h2><img src="images/logo.png" width="92px"/>
    <small>Sharing folders is fun</small></h2>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/folders">Liste des répertoires</a></li>
        </ul>
    </div>
</nav>