<!-- views/pages/folder.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="float:right; margin-bottom:10px">
            <button type="button" class="btn btn-success">Uploader un nouveau fichier</button>
        </span>
        <div id="content">
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        
        var folder = "<%= folder %>";
        //alert(folder);
        $.get("/get/files/"+folder, function(data){
            $("#content").html(data);
        });
    </script>
</body>
</html>