<!-- views/pages/folder.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div style="float:left;">
        <h3 style="vertical-align:bottom;"><img src="images/folder.png" width="32px" style="vertical-align:top;" />&nbsp;/<%=folder.name%> - <small><%=folder.creator%> (Downloads : <%=folder.downloads%>)</small></h3>
        </div>
        <span style="float:right; margin-bottom:10px">
            <button id="upload-file" type="button" class="btn btn-success">Uploader un nouveau fichier</button>
        </span>
        <div id="content">
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        
        var folder = "<%= folder.name %>";
        $.get("/get/files/"+folder, function(data){
            $("#content").html(data);
        });

        $("#upload-file").on("click",function(){

            BootstrapDialog.show({
                title: "Partager un fichier",
                message: "<% include ../partials/newfile %>",
                buttons: [{
                        label: 'Partager',
                        cssClass: 'btn-success',
                        action: function(dialogRef){
                            $("#uploadForm").prepend('<input type="hidden" name="folder" value="'+folder+'" />');
                            var creator = $("#creator").val();
                            var formData = new FormData($('form')[0]);
                            if($("#creator").val() != "" && $("#sharedFile").val() != ""){
                                $("#file-form").html("<progress></progress");
                                $.ajax({
                                    url: "/post/file",
                                    method: "POST",
                                    xhr: function() {  // Custom XMLHttpRequest
                                        var myXhr = $.ajaxSettings.xhr();
                                        if(myXhr.upload){ // Check if upload property exists
                                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
                                        }
                                        return myXhr;
                                    },
                                    error: function(){
                                        BootstrapDialog .alert("Une erreur est survenue lors de l'upload du fichier.");
                                    },
                                    success: function(){
                                        $.get("/get/files/"+folder, function(data){
                                            $("#content").html(data);
                                        });
                                        dialogRef.close();
                                    },
                                    data: formData, 
                                    cache: false,
                                    contentType: false,
                                    processData: false

                                });
                                
                            }

                            
                        }
                    },{
                        label: 'Annuler',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                    }]

            });

        });
        
        $("#content").on("click","button.delete-file", function(){
            var that = $(this);
            BootstrapDialog.show({
                title: "Suppression du fichier "+that.attr("id"),
                message: "Êtes-vous sûrs de vouloir supprimer ce fichier ?",
                buttons: [{
                        label: 'Oui',
                        cssClass: 'btn-success',
                        action: function(dialogRef){
                            $.ajax({
                                url:"/"+folder+"/"+that.attr("id")+"/delete",
                                methode:"get",
                                success: function(){
                                    $.get("/get/files/"+folder, function(data){
                                        $("#content").html(data);
                                    });
                                    dialogRef.close();
                                }
                            });
                        }
                    },{
                        label: 'Non',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                    }]
            });
        });
    </script>
</body>
</html>