<!-- views/pages/folder.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        
        <div id="content">
        </div>
        <div class="col-md-1">
            <button type="button" id="create-folder" class="btn btn-success">Ajouter</button>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        $.get("/get/folders", function(data){
            $("#content").html(data);
        });
        $("#create-folder").on("click",function(){

            BootstrapDialog.show({
                title: "Création d'un répertoire",
                message: "<% include ../partials/newfolder %>",
                buttons: [{
                        label: 'Ajouter',
                        cssClass: 'btn-success',
                        action: function(dialogRef){
                            var name = $("#name").val();
                            var creator = $("#creator").val();
                            var expire = $("#expire").val();
                            $.get("/check/"+name, function(samefolders){
                                if(samefolders.length > 0 || name=="folders"){
                                    BootstrapDialog.alert("Il existe déjà un répertoire sous le nom que vous avez choisi, veuillez en choisir un autre.");
                                } else {
                                    if($("#name").val() != "" && $("#creator").val() != "" && $("#expire").val() != ""){
                                        $.ajax({
                                            url: "/post/folder",
                                            method: "POST",
                                            data: {name:name,creator:creator,expire:expire},
                                            success: function(){
                                                $.get("/get/folders", function(data){
                                                    $("#content").html(data);
                                                });
                                                dialogRef.close();
                                            }

                                        });
                                        
                                    }
                                }
                            });
                        }
                    },{
                        label: 'Annuler',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                    }]

            });
        });
        $("#content").on("click","button.delete-folder", function(){
            var that = $(this);
            BootstrapDialog.show({
                title: "Suppression du répertoire "+that.attr("id"),
                message: "Êtes-vous sûrs de vouloir supprimer ce répertoire ?",
                buttons: [{
                        label: 'Oui',
                        cssClass: 'btn-success',
                        action: function(dialogRef){
                            $.ajax({
                                url:"/"+that.attr("id")+"/delete",
                                methode:"get",
                                success: function(){
                                    $.get("/get/folders", function(data){
                                        $("#content").html(data);
                                    });
                                    dialogRef.close();
                                }
                            });
                        }
                    },{
                        label: 'Non',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                    }]
            });
        });
    </script>
</body>
</html>