<!-- views/pages/folder.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <span style="float:right; margin-bottom:10px">
            <button type="button" id="create-folder" class="btn btn-success">Ajouter</button>
        </span>
        <div id="content">
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        $.get("/get/folders", function(data){
            $("#content").html(data);
        });
        $("#create-folder").on("click",function(){

            BootstrapDialog.show({
                title: "Création d'un répertoire",
                message: "<% include ../partials/newfolder %>",
                buttons: [{
                        label: 'Ajouter',
                        action: function(dialogRef){
                            var name = $("#name").val();
                            var creator = $("#creator").val();
                            var icon = $("#icon").val();
                            var formData = new FormData($('form')[0]);
                            if($("#name").val() != "" && $("#creator").val() != "" && $("#file").val() != ""){
                                $("#folder-form").html("<progress></progress");
                                $.ajax({
                                    url: "/post/folder",
                                    method: "POST",
                                    xhr: function() {  // Custom XMLHttpRequest
                                        var myXhr = $.ajaxSettings.xhr();
                                        if(myXhr.upload){ // Check if upload property exists
                                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
                                        }
                                        return myXhr;
                                    },
                                    error: function(){
                                        Bootstrap.alert("Une erreur est survenue lors de la création du répertoire.");
                                    },
                                    success: function(){
                                        $.get("/get/folders", function(data){
                                            $("#content").html(data);
                                        });
                                        dialogRef.close();
                                    },
                                    data: formData, 
                                    cache: false,
                                    contentType: false,
                                    processData: false

                                });
                                
                            }

                            
                        }
                    },{
                        label: 'Annuler',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                    }]

            });
        });
    </script>
</body>
</html>