<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
     <table class="table table-striped">
        <tr>
            <td colspan=4>
            <div>
                <h3>Description du projet<h3>
                <span>Application web permettant de partager des fichiers de manière éphémère pour que les utilisateurs puissent partager en toute simplicité et rapidement</span>
            </div>
            </td>
        </tr>
        <tr>
            <td>Photo</td>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Entreprise</td>
        </tr>
        <% for(var i=0; i<data.length; i++) {%>
        <tr>
        <td><img src="images/photos/<%=data[i].photo%>"> </td>
        <td><%=data[i].nom%></td>
        <td><%=data[i].prenom%></td>
        <td><%=data[i].entreprise%></td>

        <% } %>
     </table>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>